div {
    border: 6px solid purple;
    width: 1000px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px; 
    background-color: white;
    padding: 10px;
    border-radius: 30px;
}
* {
    font-family: "Century Gothic", Helvetica, sans-serif;
}
#titulo {
    font-size: 500%;
}
h1 {
    text-align: center;
    color: lawngreen;
}
body {
    background-color: pink;
    margin: 0px;
}
.encabezado {
    width: 100%;
    border: 0px;
    margin-top: 0px;
    background-color: purple;
    
}
h2 {
    color: purple;
}
.subtitulo{
    border: 5px solid magenta;
    border-radius: 60px;
    padding-left: 60px;
    width: 900px;
    color: dodgerblue;
}